<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BricBrac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Curio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CurioTool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E28A5BB1B5AD5EE00A5F27F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E28A5C41B5AD5EE00A5F27F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E7F9B1B1B3615850058706A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E7F9B251B3615860058706A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E8E744E1B9F302A004EA61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E8E74591B9F31E8004EA61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
