# .gitignore for xcode projects

## Build generated
build/
.build/
.swiftpm/
DerivedData/

..bfg-report/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved
*.xcodeproj

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
.*.swp
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap

*.ipa
*.dSYM.zip
*.dSYM

## Mac OS X
.DS_Store



